@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-bg text-gray-300 antialiased overflow-hidden;
  }
}

.glass-panel {
  @apply bg-bg-secondary/70 backdrop-blur-md border border-border;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-bg-tertiary rounded-full;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-600;
}
